* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 99vw;
  flex-direction: column;
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type='text'] {
  padding: 5px;
  width: 150px;
}

p {
  width: 500px;
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}
